<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    {% include 'core/components/bootstrap.html' %}

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
    
    <title>BASE</title>
</head>
<body>
    {% include "core/components/navigation.html" %}
    <main>
        {% block content %}
        {% endblock %}
    </main>


    {% block js_content %}
    {% endblock %}

</body>


</html>