
<div class="user_card">
    <!-- <div class="card text-white bg-secondary mb-3" > -->
    <div class="card" id="card-content"> 
        <div class="card-header">
            <!-- Featured -->
            <h3 class="card-title">Login</h3>
        </div>
        <div class="d-flex justify-content-center form_container">
            <form method="POST" action="/login/"> {% csrf_token %}
                {% for field in login_form %}     
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="form-control">@{{ field.label }}</span>
                    </div>
                    {{ field }}
                </div>
                <!--  if user.is_authenticated %} -->
                    <!--  endif %}                -->
                {% endfor %}
                <div class="d-flex justify-content-center mt-3 login_container">
                    <input class="btn login_btn"  type="submit" value="Login">
                </div>         
                

                    <div class="mt-4">
                        <div class="d-flex justify-content-center mt-3 login_container">
                            Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                        </div>
                    </div>

            
            </form>
                
        </div>
    </div>
</div>